[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	diffhoriz = difftool -t horiz
	changes = !CURRENT=\"$(basename `git symbolic-ref HEAD`)\" && git log \"origin/$CURRENT\"..\"$CURRENT\"

[color]
        grep=true
        ui=true

[core]
        pager = less -FR

[diff]
	tool = vimdiff

[difftool "rev"]
	cmd = "diff  --git --unchanged-line-format=\"\" --old-line-format=\"\" --new-line-format=\":%dn: %L\""

[difftool "horiz"]
	cmd = "vimdiff -o $LOCAL $REMOTE"

[user]
#	name = bezet
#	email = 

[merge]
	tool = threesome

[mergetool "threesome"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'set ch+=2' -c 'SpliceInit' -c 'set ch-=2'"
	trustExitCode = true

[push]
	default = simple 
[rerere]
	enabled = true
[color "diff"]
	modified = red
[status]
	displaycommentprefix = true

[user]
	name = tezeb
	email = tezeb
[credential "https://github.com"]
	username = tezeb
