[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	diffhoriz = difftool -t horiz

[color]
        grep=true
        ui=true

[core]
        pager = less -r

[diff]
	tool = vimdiff

[difftool "horiz"]
	cmd = "vimdiff -o $LOCAL $REMOTE"

[merge]
	tool = splice

[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true

[push]
	default = current

[status]
	displaycommentprefix = true

[user]
	name = bezet
	email = bezet@outoftheblue.pl
